.card {
  border: 2px solid black;
  width: 900px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  background-color: black;
  margin: 5px;
}
.image {
  position: relative;
}
.image img {
  height: 100px;
  width: 200px;
  border-radius: 3px;
}
.capsul {
  position: absolute;
  z-index: 1;
  right: 3%;
  bottom: 7%;
  background-color: rgb(48, 46, 46);
  color: white;
  border-radius: 3px;
  opacity: 80%;
}
.text {
  color: white;
  font-size: 10px;
  margin: 0px 5px;
}
.text h1 {
  margin-bottom: 30px;
}
